In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

path = 'return-data/'
filelist = os.listdir(path) 
dfs = [pd.read_json(path+file, lines=True) for file in filelist]
toydata = pd.concat(dfs, ignore_index=True)

In [2]:
toydata.head()

                     basket  returnLabel  totalAmount  transactionId  zipCode
0  [1, 1, 0, 2, 5, 1, 2, 2]            0          264     5221131913     2321
1        [1, 4, 4, 3, 2, 4]            1           60     4768566069     7597
2                       [5]            0           60     4791292369     1176
3                 [0, 4, 3]            0          333     4672834572     3087
4        [2, 3, 1, 2, 0, 0]            0          378     8750635039     9400

In [3]:
zipcode_one_hot = pd.get_dummies(toydata['zipCode'])

toydata.drop(['basket','totalAmount','transactionId','zipCode'],axis=1,inplace=True)
toydata = pd.concat([toydata,zipcode_one_hot],axis=1)
toydata.head()

,returnLabel,1000,1001,1002,1003,1004,1005,1006,1008,1009,...,9991,9992,9993,9994,9995,9996,9997,9998,9999,10000
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(toydata.drop('returnLabel',axis=1),toydata['returnLabel'], test_size=0.30,random_state=101)

In [5]:
from sklearn.linear_model import LogisticRegression
logmodel = LogisticRegression(solver='lbfgs')
logmodel.fit(X_train,y_train)
predictions = logmodel.predict(X_test)

In [7]:
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
print(classification_report(y_test,predictions))
print("Accuracy:",accuracy_score(y_test, predictions))

              precision    recall  f1-score   support

           0       0.97      1.00      0.98      9001
           1       0.00      0.00      0.00       299

   micro avg       0.97      0.97      0.97      9300
   macro avg       0.48      0.50      0.49      9300
weighted avg       0.94      0.97      0.95      9300

('Accuracy:', 0.9678494623655914)